@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
	--main-color:#885b9e;
	--primary-color: #11d388;
	--black:#141414;
	--white:#fff;
	--bg: #f2f2f2;
	--light-black:#666;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0; padding: 0;
	outline: none; border: none;
	text-decoration: none;
	transition: .2s linear;
	text-transform: capitalize;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
	width: 1rem;
}

html::-webkit-scrollbar-track {
	background: var(--white);
}

html::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}

section {
	padding: 3rem 9%;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	background-color: var(--main-color);
}

.header .logo {
	font-size: 2.2rem;
	font-weight: bolder;
	color: var(--white);
}

.header .logo i {
	color: var(--primary-color);
	padding-right: .5rem;
}

.header .navbar a {
	font-size: 1.7rem;
	margin-left: 2rem;
	color: var(--white);
	padding-block: .8rem;
	position: relative;
}

.header .navbar a::after {
	content: '';
	position: absolute;
	background-color: var(--primary-color);
	bottom: .5rem;
	left: 0;
	width: 100%;
	height: 0.2rem;
	transform: scaleX(0);
	transform-origin: left;
	transition: .5s ease;
}

.header .navbar a:is(:hover, :focus)::after {
	transform: scaleX(1);
}

#menu {
	font-size: 2.5rem;
	cursor: pointer;
	color: var(--white);
	display: none;
}
